/* Import Tailwind first */
@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}


/* Define global CSS variables */
@theme {
  /* Colors */
  --color-primary: #555555;
  --color-secondary: #262626;
  --color-border: #D9D9D9;
  

  /* Fonts */
  --font-primary: "Lato", sans-serif;
}

/* Custom Tailwind container class with responsive padding */
.main-container {
  @apply px-5 lg:px-22.5;
}

@layer utilities {

.row{
    @apply flex flex-row items-center ;
}

.col{
    @apply flex flex-col items-center ;
}

}